header nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

nav a,
nav ul li {
  font-size: var(--p-large);
}

nav ul li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}

.dot-green {
  background-color: #4aa564; /* Good green for accessability */
}

.dot-red {
  background-color: #cd2026; /* Good red for accessability */
}

header .separator {
  margin: 2rem 0 2rem 0;
}

/*--- TABLET & DESKTOP ---*/

@media screen and (min-width: 860px) {
  header .separator {
    margin: 5rem 0 2rem 0;
  }
}
