/* header {
  display: flex;
  width: 100%;
} */

header nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

nav a,
nav ul li {
  /* font-family: var(--medium); */
  font-size: var(--p-large);
}

nav ul li {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 180px) {
  header .separator {
    margin: 2rem 0 2rem 0;
  }
}

@media screen and (min-width: 860px) {
  header .separator {
    margin: 5rem 0 2rem 0;
  }
}
