/* header {
  display: flex;
  width: 100%;
} */

header nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

nav a,
nav ul li {
  /* font-family: var(--medium); */
  font-size: var(--p-large);
}

nav ul li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li .dot {
  width: 8px;
  height: 8px;
  /* background-color: var(--black); */
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}

.dot-green {
  background-color: #4aa564;
}

.dot-red {
  background-color: #cd2026;
}

@media screen and (min-width: 180px) {
  header .separator {
    margin: 2rem 0 2rem 0;
  }
}

@media screen and (min-width: 860px) {
  header .separator {
    margin: 5rem 0 2rem 0;
  }
}
